@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* About */

 /* Breadcrumb */
.flat-breadcrumb {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0px 0px 0px;
    font-family: "Nunit", sans-serif;
}
section .flat-breadcrumb {
    display: block;
}
#breadcrumb-container {
    width: 1170px;
}
#breadcrumb-container
{
    margin: 5px 10px 5px 100px;
}
@media (min-width: 768px) {
    #breadcrumb-container  {
        width: 720px;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: 5px 10px 5px 70px;

    }
}
@media (min-width: 576px) {
    #breadcrumb-container  {
        width: 540px;
        max-width: 100%;
        margin: 5px 10px 5px 15px;
    }
}
@media (max-width: 576px) {
    #breadcrumb-container  {
        width: 540px;
        max-width: 100%;
        margin: 5px 10px 5px 0px;
    }
}

@media (min-width: 576px) {
    #breadcrumb-container  {
        padding-right: 15px;
        padding-left: 15px;
    }
}
#breadcrumb-container {
    position: relative;

}
@media (min-width: 768px) {
    #breadcrumb-row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 576px) {
    #breadcrumb-row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
#breadcrumb-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
 #breadcrumb-list {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 768px) {
#breadcrumb-list {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 576px) {
#breadcrumb-list {
        padding-right: 15px;
        padding-left: 15px;
    }
}
#breadcrumb-list {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
#breadcrumb-list ul{
    padding: 0;
}
#breadcrumb-list ul {
    list-style: none;
}
.flat-breadcrumb ul.breadcrumbs li.trail-item {
    margin-right: 11px;
    margin-left: 2px;
}
.flat-breadcrumb ul.breadcrumbs li {
    display: inline-block;
    vertical-align: s;
}
.flat-breadcrumb ul.breadcrumbs li.trail-item a {
    margin-right: 19px;
    color: #8c8c8c;
    font-weight: 500;
}
.trail-item a {
    text-decoration: none;
    color: #333333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.flat-breadcrumb ul.breadcrumbs li.trail-item span {
    float: right;
}
.trail-item img {
    max-width: 100%;
    height: auto;
}
.trail-item img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
.breadcrumbs {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: start;
}

/* Main About */

.flat-about {
    padding: 50px 0 62px;
}
section {
    display: block;
}
@media only screen and (max-width: 575px) {
    .about-container {
        max-width: 100%;
    }
}

.about-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 1170px;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media only screen and (max-width: 991px) {
    .text-about {
        margin-top: 25px;
        padding: 30px 35px 30px 35px;
        border: 2px solid #e5e5e5;
        border-radius: 10px;
        font-size: 12px;
        margin-left: 6px;
        position: relative;
        z-index: -1;
        margin-right: 6px;
    }

    .image-about img, .box-flexslider, .product-detail.style5 {
        width: 100%;
    }
}
.image-about img {
    border-radius: 10px;
    margin-left: 50px;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
@media only screen and (max-width: 767px) {
    .image-about img{
        margin-left: 0px;
    }
    .text-about {
        margin-left: 0px;
        margin-right: 0px;
    }
}
.text-about {
    margin-top: 25px;
    padding: 30px 45px 30px 45px;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    margin-left: 6px;
    position: relative;
    z-index: -1;
    margin-right: 6px;
}
.text-about .title {
    margin-bottom: 23px;
}
h3 {
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2d;
}
h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
.text-about .content p {
    color: #919191;
    margin-bottom: 24px;
}
.text-about .content p:last-child {
    margin-bottom: 0px;
}
.text-about .content p {
    color: #919191;
    margin-bottom: 24px;
}
.text-about .content p span {
    font-weight: bold;
    color: #484848;
}

/* Main Blog */
.main-blog {
    margin-top: 30px;
}

.container {
    width: 1170px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    flex-wrap: nowrap; /* Ensure items don't wrap */
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4 {
    flex: 0 0 33.3333%; /* Ensure each column takes 1/3 of the container width */
    max-width: 33.3333%;
    padding-right: 15px;
    padding-left: 15px;
}

article.main-post {
    margin-bottom: 44px;
}

article.main-post .featured-post a img {
    border-radius: 10px;
    width: 100%; /* Ensure images fit the column width */
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

.divider37 {
    height: 37px;
}

article.main-post .content-post h3.title-post {
    font-weight: 500;
    margin-bottom: 18px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2d;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: #333333;
    transition: all 0.3s ease-in-out;
}

article.main-post .content-post .entry-post > p {
    color: #919191;
}

@media only screen and (max-width: 767px) {
    .row {
        flex-wrap: wrap; /* Allow wrapping on smaller screens */
    }
    
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    article.main-post.style4 {
        text-align: center;
    }

    article.main-post .featured-post a img,
    .comment-respond .form-comment form .comment-form-name,
    .comment-respond .form-comment form .comment-form-email,
    .comment-respond .form-comment form .comment-form-comment {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .container {
        max-width: 100%;
    }

    article.main-post .featured-post a img,
    .comment-respond .form-comment form .comment-form-name,
    .comment-respond .form-comment form .comment-form-email,
    .comment-respond .form-comment form .comment-form-comment {
        width: 100%;
    }
}

h4{
    text-align: start;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Slider */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
      border-radius: 10px;
      border-radius: 5px;
      margin-top: 20px;
      margin-bottom: 100px;
  }

  #slide-img img
  {
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 2px 2px;
}

  #slide-img img:hover
{
    padding: 2px 2px;
    border: 2px rgba(255, 166, 0, 0.842) solid;
}
  
  
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }

/* Resposive */

 /* General responsive styles */
@media (max-width: 1200px) {
    .container {
      max-width: 100%;
      padding: 0 15px;
    }
  }
  
  
  /* About section responsive styles */
  @media (max-width: 767px) {
    #about-row {
      flex-direction: column;
    }
    
    .image-about img {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }
    
    .text-about {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  /* Blog section responsive styles */
  @media (max-width: 767px) {
    #blog-row {
      flex-direction: column;
    }
    
    .col-md-4 {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  

