@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h4{
    text-align: start;
    padding: 20px;
    border-bottom: 1px rgba(145, 145, 145, 0.664) solid;
    font-family: 'Nunito', sans-serif;
  }
  .our-team
  {
    border: none !important;
    border-bottom: none !important;
  }
  /* Slider */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
      border-radius: 10px;
      border: 1px rgba(145, 145, 145, 0.664) solid;
      border-radius: 5px;
      margin-top: 20px;
      margin-bottom: 100px;
  }
  
  
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }

  #slide-img img
  {
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 2px 2px;
}

  #slide-img img:hover
{
    padding: 2px 2px;
    border: 2px rgba(255, 166, 0, 0.842) solid;
}

#sale-slide
{
    padding: 0px 0px;
}
#sale-slide img {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 0px 0px;
    border: none;
}

@media (min-width: 768px) {
    #sale-slide  {
  margin-bottom: 0px;
  padding: 0px 0px;

    }
}
@media (min-width: 576px) {
    #sale-slide  {
    margin-bottom: 0px;
    padding: 0px 0px;

    }
}
@media (max-width: 576px) {
    #sale-slide  {
        margin-bottom: 0px;
        padding: 0px 0px;

    }
}

@media (min-width: 576px) {
    #sale-slide  {
        margin-bottom: 0px;
         padding: 0px 0px;

    }
}
.sale-background
{
    background-color: #f5f5f5;
}