@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
    width: 100%;
}
.footer-section {
    flex-shrink: 0;
    background: #fff;
    color: rgba(14, 13, 13, 0.918);
    padding: 50px 0 20px;
    border-top: 1px solid #ccc;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.description
{
  width: 70%;
}
.footer-column {
    flex: 1;
    margin-bottom: 30px;
    min-width: 200px;
}
.footer-column h3 {
    color: #F5921D;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer-column img {
    width: 100%;
    height: auto;
    margin-left: -30px;
    margin-top: -25px;
    margin-bottom: 14px;

}
.footer-column p, .footer-column ul {
    font-size: 14px;
    line-height: 1.6;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin-bottom: 10px;
}
.footer-column ul li a {
    color: #2a2a2a;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-column ul li a:hover {
    color: #F5921D;
}
.social-icons a {
    color: #fff;
    font-size: 18px;
    margin-right: 15px;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #ff5e14;
}
.subscribe-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2a2a2a;
    background: #fff;
    color: #2a2a2a;
}
.subscribe-form button {
    background: #F5921D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-left: 5px solid #c56f07;
    cursor: pointer;
    transition: background 0.3s;
}
.subscribe-form button:hover {
    background: #c56f07;
}

.copyright {
    text-align: start;
    padding-top: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #f5f5f5;;
}

