@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.flat-highlights {
    padding: 21px 0 50px;
    background-color: #f5f5f5;

}
section {
    display: block;
}
@media (min-width: 992px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 768px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 576px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1200px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 992px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 768px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 576px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
    .col-md-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.flat-row-title {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 40px;
}
ul.product-list.style1 {
    padding: 0px 0 20px;
}
ul, ol {
    padding: 0;
}
ol, ul {
    list-style: none;
}
.flat-row-title h3 {
    color: #2d2d2d;
    padding: 15px 0;
    font-weight: 500;
}
h3 {
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2d;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

ul.product-list li .img-product img {
    border-radius: 8px;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: #333333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.product-list.style1 li .img-product {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    margin: 0;
    height: 100px;
    width: 100px;
    margin-right: 21px;
    overflow: hidden;
    border: 2px solid transparent;
}
ul.product-list li .img-product {
    float: left;
    margin-right: 21px;
}
ul.product-list li:not(:last-child) {
    margin-bottom: 32px;
}

a {
    text-decoration: none;
    color: #333333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.product-list.style1 li .info-product .name {
    line-height: 1;
}
ul.product-list li .info-product .name {
    line-height: 24px;
    color: #484848;
}
ul.product-list li .info-product {
    overflow: hidden;
}
ul.product-list.style1 li .info-product .queue i {
    margin-right: 5px;
}
ul.product-list li .info-product .queue i {
    color: #f28b00;
    font-size: 11px;
}
.queue i {
    color: #f28b00;
    font-size: 11px;
    margin-right: 5px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul.product-list.style1 li .info-product .queue {
    margin-left: 2px;
    line-height: 21px;
    margin-bottom: 5px;
    margin-top: 11px;
}
ul.product-list li .info-product .queue {
    margin-left: 2px;
    line-height: 21px;
    margin-bottom: 5px;
}

ul.product-list li .info-product .price .regular {
    color: #c5c5c5;
    font-weight: 400;
    font-size: 13px;
}
.regular {
    color: #c5c5c5;
    font-size: 14px;
    text-decoration: line-through;
}
ul.product-list li .info-product .price .sale {
    font-family: 'Nunito';
    font-size: 18px;
    color: #484848;
    font-weight: 500;
    margin-right: 8px;
}
.sale {
    color: #f28b00;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Nunito';
}
ul.product-list.style1 .info-product .price {
    margin-top: 23px;
}
