@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.flat-iconbox {
    padding: 30px 0 25px;
    background-color: #fff;
    margin-bottom: 50px;
}
#seticon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.iconbox {
    text-align: center;
    flex: 1;
    padding: 0 10px;
}
.iconbox .box-header .image {
    position: relative;
    height: 88px;
    line-height: 88px;
    text-align: center;
}
.iconbox .box-header .box-title h3 {
    margin-top: 32px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #2d2d2d;
}
.iconbox .box-content p {
    font-size: 14px;
}
@media (max-width: 992px) {
    #seticon {
        flex-wrap: wrap;
    }
    .iconbox {
        flex: 0 0 50%;
        margin-bottom: 20px;
    }
}
@media (max-width: 576px) {
    .iconbox {
        flex: 0 0 100%;
    }
}